nav.navbar.navbar-inverse.navbar-static-bottom
  .container.text-center.footer
    ul.nav.nav-pills.nav-justified
      li
        a(href='/about') about us                
      li
        a(href='/contact') contact                 
      li
        a(href='/faqs') FAQs
    ul.nav.nav-pills.nav-justified
      li
        a(href='/terms') terms of service                
      li
        a(href='/privacy') privacy notice                 
      li
        a(href='/') reaDigs &copy; 2015