extends layout

block content
  script(src='//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js')
  script(src='/javascripts/friends.js', type='text/javascript')
  div.container-fluid
    div.text-center.friend-panel
          br
          br
      .row
        .col-xs-12.col-sm-offset-3.col-sm-6
          .panel.panel-default
            .panel-heading.c-list
              span.title #{user.local.fullName || user.facebook.fullName || user.twitter.fullName || user.google.fullName}'s friends:
              ul.pull-right.c-controls
                li
                  a(href='#add-friend', data-toggle='tooltip', data-placement='top', title='find more friends')
                    i.glyphicon.glyphicon-plus
                li
                  a.hide-search(href='#', data-command='toggle-search', data-toggle='tooltip', data-placement='top', title='toggle search')
                    i.fa.fa-ellipsis-v
            .row(style='display: none;')
              .col-xs-12
                .input-group.c-search
                  input#friend-list-search.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-search.text-muted
            ul#friend-list.list-group
              li.list-group-item
                .col-xs-12.col-sm-3
                  img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/49.jpg', alt='Scott Stevens')
                .col-xs-12.col-sm-9
                  span.name Scott Stevens
                  br
                  span.glyphicon.glyphicon-th-list.text-muted.c-info(data-toggle='tooltip', title='see reviews')
                  span.visible-xs
                    span.text-muted see reviews
                    br
                  span.fa.fa-comments.text-muted.c-info(data-toggle='tooltip', title='share comments')
                  span.visible-xs
                    span.text-muted share comments
                    br
                  span.glyphicon.glyphicon-envelope.text-muted.c-info(data-toggle='tooltip', title='send recommendations')
                  span.visible-xs
                    span.text-muted send rcommendation
                    br
                .clearfix
              li.list-group-item
                .col-xs-12.col-sm-3
                  img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/49.jpg', alt='Scott Stevens')
                .col-xs-12.col-sm-9
                  span.name #{friendName}
                  br
                  span.glyphicon.glyphicon-th-list.text-muted.c-info(data-toggle='tooltip', title='see reviews')
                  span.visible-xs
                    span.text-muted see reviews
                    br
                  span.fa.fa-comments.text-muted.c-info(data-toggle='tooltip', title='share comments')
                  span.visible-xs
                    span.text-muted share comments
                    br
                  span.glyphicon.glyphicon-envelope.text-muted.c-info(data-toggle='tooltip', title='send recommendations')
                  span.visible-xs
                    span.text-muted send rcommendation
                    br
                .clearfix

      #addFriend.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm.animated
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title.text-center
                strong
                  | FIND YOUR FRIENDS
            .modal-body
              .container-fluid
                form(class='find-friend', style='text-center', action='/friends', method='POST', accept-charset='UTF-8')
                  .form-group
                    input#friendName(type='text', name='friendName', class='form-control', placeholder='enter their full name', required, autofocus)

                  #message
                    if message
                      h3.text-center.error-message #{message}
                  button#submit(class='btn btn-md btn-primary btn-block', type='submit') submit