extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title
					b sign in to reaDig!
					p.lead THE platform for connecting young readers.
					div.account-wall
						img(class='login-img', src='http://srec.azores.gov.pt/dre/sd/115189010600/images/readingbook.GIF')
						br
						br
						form(class='form-signin', action='/auth/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='username', required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='password', required)
							br
							button(class='btn btn-lg btn-primary btn-block big-login', type='submit') sign in
							span.clearfix

					#message
						if message
							h2.text-center.error-message #{message}

				a.btn.btn-lg.big-register(href='/auth/signup') need an account?
				a.btn.btn-lg.big-home(href='/auth') go home
					